<%- include("partial/header"); -%>

<h1><%= index %></h1>
<p id="postText"> <%= Content %> </p>

<% post.forEach((postss) => { %>
    <h1><%= postss.title %></h1>
    <% if(postss.content.length > 200){ %>
        <p id="postText"> <%= postss.content.substring(0, 200) %> <a target="_blank" href="/posts/<%= postss.title %>">...Read More</a></p>
    <% } else { %>
        <p id="postText"><%= postss.content %></p>
    <% } %>
<% }); %>

<%- include("partial/footer"); -%>